<h1>Hilfsanfragen für Umzüge</h1>

<label for="nameInput">Name:</label><br>
<input id="nameInput" placeholder="Enter Name" [(ngModel)]="name"/><br>
<label for="timeInput">Datum:</label><br>
<input id="timeInput" placeholder="Enter Time" [(ngModel)]="time"/><br>
<label for="originInput">Von</label><br>
<input id="originInput" placeholder="Enter Origin" [(ngModel)]="origin"/><br>
<label for="destinationInput">Nach</label><br>
<input id="destinationInput" placeholder="Enter Destination" [(ngModel)]="destination"/><br>
<label for="itemInput">Gegenstand</label><br>
<input id="itemInput" placeholder="Enter Item" [(ngModel)]="item"/><br>
<label for="amountInput">Anzahl</label><br>
<input id="amountInput" placeholder="Enter Amount" [(ngModel)]="amount"/><br>
<br>
<button (click)="createRequest()">Hinzufuegen</button>

<router-outlet />
